include "animations.kdl"
include "binds.kdl"
include "colors.kdl"
include "input.kdl"
include "layout.kdl"
include "misc.kdl"
include "outputs.kdl"
include "rules.kdl"
include "startup.kdl"
include "workspaces.kdl"
