// Named workspaces
workspace "1"
workspace "2"
workspace "3"

// Gapps and column widths
layout {
    gaps 8
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // Tab indicator
    tab-indicator {
        place-within-column
        gap 2
        active-color "#A02F6F"
        inactive-color "#A02F6F80"
        position "left"
    }

    // Split ratio
    default-column-width { proportion 0.5; }

    // Focus ring
    focus-ring {
        on
        width 1
        active-color "#403E3C"
        inactive-color "transparent"
        urgent-color "#9b0000"
    }

    // Border
    border {
        off
        // The settings are the same as for the focus ring.
        // If you enable the border, you probably want to disable the focus ring.
        width 1
        active-color "#403E3C"
        inactive-color "transparent"
        urgent-color "#9b0000"
    }

    // Shadow
    shadow {
        // off
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}


// No alt/tab menu
recent-windows {
    off
}
