// spawn-at-startup "waybar"
// spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
// spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
// spawn-sh-at-startup "bt_notifier"
spawn-sh-at-startup "qs --no-detailed-logs"
spawn-sh-at-startup "vicinae server"
spawn-sh-at-startup "awww.sh"
