*$py.class
*.log
*.pyc
*.pyo
*.ropeproject/
*.secret
.DS_Store
.git
.git/
.gitignore
.idea/
.uuid
.venv/
.vscode/
/home/bazz/.config/service/turnstile-ready/run
/home/bazz/.local/bin/appimage/
/home/bazz/.local/bin/personal/
Thumbs.db
__pycache__/
amdfan
env/
gamma-launcher
lazy-lock.json
pipewire-loader
secret/
service/vpn-*
spotdl
timeshift_backup_manager.sh
venv/
vim/.netrwhist
vim/.vim
vim/autoload/plug.vim.old
vim/vim
void-updater.sh
