Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xcursor.theme: Qogir-dark


!! Set a default font and font size as below:
st.font: JetBrains Mono Nerd Font:pixelsize=14

! st.termname: st-256color
! st.borderpx: 2

!! Colors:

!! gruvbox:
!*.color0: #282828
*.color0: #1d2021
*.color1: #cc241d
*.color2: #98971a
*.color3: #d79921
*.color4: #458588
*.color5: #b16286
*.color6: #689d6a
*.color7: #a89984
*.color8: #928374
*.color9: #fb4934
*.color10: #b8bb26
*.color11: #fabd2f
*.color12: #83a598
*.color13: #d3869b
*.color14: #8ec07c
*.color15: #ebdbb2
!*.background: #282828
*.background: #1d2021
*.cursorColor: #ebdbb2
*.foreground: #ebdbb2


!! Dracula
!*.color0:     #000000
!*.color1:     #FF5555
!*.color2:     #50FA7B
!*.color3:     #F1FA8C
!*.color4:     #BD93F9
!*.color5:     #FF79C6
!*.color6:     #8BE9FD
!*.color7:     #BFBFBF
!*.color8:     #6272a4
!*.color9:     #FF6E67
!*.color10:    #5AF78E
!*.color11:    #F4F99D
!*.color12:    #CAA9FA
!*.color13:    #FF92D0
!*.color14:    #9AEDFE
!*.color15:    #E6E6E6
!*.background: #282A36
!*.cursorColor:#F8F8F2
!*.foreground: #F8F8F2

!! Nsxiv colors
Nsxiv*background: #282828
Nsxiv*foreground: #458588


!! Dwm colors
dwm.normbordercolor: #3c3836
dwm.normbgcolor: #1d2021
dwm.normfgcolor: #bdae93
dwm.selbordercolor: #458588
dwm.selbgcolor: #458588
dwm.selfgcolor: #1d2021
