add_newline = false
format = """
$directory\
$git_branch\
$git_status\
$cmd_duration\
$line_break\
$character"""

[character]
success_symbol = "[❯](purple)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"

[directory]
home_symbol = '~'
truncation_symbol = '…/'
style ='bold blue'
read_only = ' !'
read_only_style = 'bold red'

[git_branch]
symbol = 'Git:'
style = "bright-black"

[git_metrics]
disabled = false

[git_status]
style = 'purple'
ahead = '⇡ ${count}(fg:red)'
behind = '⇣ ${count}(fg:red)'
deleted = 'x'
diverged = '⇡⇕ ${ahead_count} ⇣ ${behind_count}(fg:purple)'
modified   = '!!'
renamed = 'r'
untracked  = '?'
up_to_date = 'v'

[cmd_duration]
disabled = false
format = '[$duration]($style) '
style = 'yellow'
min_time = 6000
