/* -----------------------------------------------------
 *                      General
 * ----------------------------------------------------- */
/* Colors */
@define-color bg  #181818;
@define-color bg2 #525252;
@define-color fg  #BABABA;
@define-color fg2 #808080;
@define-color red #CC241D;
@define-color blue #458588;
@define-color purple #B16286;

* {
    font-family: JetBrains Mono, Symbols Nerd Font,sans-serif;
    font-size: 14px;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

/* -----------------------------------------------------
 *                      Tooltip
 * ----------------------------------------------------- */

tooltip {
    background: @bg;
    border: solid 1px @bg2;
}
tooltip label {
    color: @fg;
}

/* -----------------------------------------------------
 *                      Window
 * ----------------------------------------------------- */

window#waybar {
   /* background-color: rgba(16, 20, 25,0.5); */
    background-color: @bg;

}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    color: @fg;
    padding: 0 10px;
}

/* -----------------------------------------------------
 *                  Workspaces
 * ----------------------------------------------------- */

#workspaces {
  background-color: @bg;
  padding: 2 10px;
}

#workspaces button {
    min-width: 20px;
    color: @bg2;
    padding: 0 5px;
    font-weight: normal;
}

#workspaces button.focused {
    color: @fg;
    background-color: @bg;
}

#workspaces button.urgent {
    color: @purple;
    background-color: @bg;
}


/* -----------------------------------------------------
 *                      Modules
 * ----------------------------------------------------- */

#cpu,
#memory {
    color: @fg;
    padding: 0 5px;
}

#battery,
#pulseaudio,
#custom-mako,
#custom-clipboard,
#pulseaudio.mic {
    color: @fg;
    padding: 0 5px;
}

#pulseaudio.muted {
    color: @bg2;
    padding: 0 5px;
}

#network {
    color: @fg;
    padding-right: 5px;
    padding-left: 10px;
}

#network.disconnected {
    color: @red;
}

#clock {
    color: @fg;
    padding: 0 5px;
}

#mode {
    color: @yellow;
    background-color: @bg;
    padding: 0 10px;
    margin: 2px 2px 2px 2px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.charging, #battery.plugged {
    color: @fg;
    padding: 0 5px;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @fg;
    margin: 2px 2px 2px 2px;
}

/* -----------------------------------------------------
 *                      Custom
 * ----------------------------------------------------- */
#custom-swayidle {
    padding: 0 5px;
    color: @fg;
}

#custom-useless {
    color: @fg;
    padding-left: 10px;
}

#custom-power {
    color: @bg2;
    padding-left: 5px;
    padding-right: 10px;
}

#custom-sep,
#custom-sep2,
#custom-sep3 {
    color: @fg2;
}
