[Unit]
Description=Clean-up of the Downloads folder

[Service]
Type=oneshot
ExecStart=find %h/Downloads/ -mindepth 1 -maxdepth 1 -exec rm -rf {} +

IOSchedulingClass=idle
Slice=background.slice


