/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #282c34FF;
    background-alt: #21242bFF;
    foreground:     #FFFFFFFF;
    selected:       #c678ddFF;
    active:         #98be65FF;
    urgent:         #ff6c6bFF;
}

