/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #1f2329FF;
    background-alt: #545862FF;
    foreground:     #abb2bfFF;
    selected:       #282c34FF;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
