/**
 *
 *
 * Colors
 **/

* {
    background:     #1a1b26FF;
    background-alt: #32344aFF;
    foreground:     #dfdfdfFF;
    selected:       #ad8ee6FF;
    active:         #9ece6aFF;
    urgent:         #f7768eFF;
}
