$bg-1: #100f0f;
$bg-2: #1c1b1a;
$osd-bg: rgba(16, 15, 15, 0.8);

$ui-1: #282726;
$ui-2: #343331;
$ui-3: #403e3c;
$tx-1: #cecdc3;
$tx-2: #f2f0e5;
$tx-3: #878580;

$cyan: #24837b;
$green: #66800b;
$magenta: #a02f6f;
$red: #af3029;
$yellow: #d0a215;

$accent: $cyan;
$warning: $red;
