/* -----------------------------------------------------
 *                      Config
 * ----------------------------------------------------- */
@define-color bg-1 #100f0f;
@define-color bg-2 #1b1b1b;
@define-color ui-1 #272727;
@define-color ui-2 #343331;
@define-color ui-3 #403E3C;
@define-color tx-1 #CECDC3;
@define-color tx-2 #F2F0E5;
@define-color tx-3 #878580;
@define-color cyan #24837B;
@define-color magenta #A02F6F;
@define-color red #AF3029;

* {
  font-family:
    Cascadia Code,
    Symbols Nerd Font Mono;
  font-size: 11pt;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition: none;
}

/* -----------------------------------------------------
 *                      Bar
 * ----------------------------------------------------- */
window#waybar {
  background-color: @bg-1;
  color: @tx-1;
}

/* -----------------------------------------------------
 *                      Tooltip
 * ----------------------------------------------------- */
tooltip {
  background: @bg-1;
  border-radius: 6px;
  border: solid 1px @ui-1;
}

tooltip label {
  color: @tx-1;
}

/* -----------------------------------------------------
 *                  Workspaces
 * ----------------------------------------------------- */
#workspaces {
  background-color: @bg-1;
  margin: 0 4px;
}
#workspaces button {
  border-radius: 6px;
  color: @tx-1;
  font-weight: normal;
  margin: 2px 1px;
  min-height: 24px;
  min-width: 16px;
  padding: 0 5px;
}
#workspaces button.focused {
  background-color: @ui-3;
  color: @tx-2;
  font-weight: 500;
}

#workspaces button.urgent {
  color: @magenta;
}
#mode {
  background-color: @bg-2;
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px @ui-1;
  color: @tx-2;
  font-family: Cascadia Code SemiLight;
  margin: 1px 1px;
  padding: 0 10px;
}
#window {
  color: @tx-1;
  padding: 0 10px;
}
window#waybar.empty #window {
  background-color: transparent;
}
/* -----------------------------------------------------
 *                      Modules
 * ----------------------------------------------------- */
#battery,
#clock,
#custom-idle,
#custom-idle,
#custom-mic,
#custom-wf-recorder,
#network,
#tray,
#wireplumber {
  color: @tx-1;
  margin: 2px 1px;
  padding: 0 10px;
}

#tray {
  background-color: @bg-2;
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px @ui-1;
}

#tray menu {
  background-color: @bg-1;
  border-radius: 6px;
  border: solid 1px @ui-1;
}

#custom-wf-recorder {
  animation: rec-blink 1s linear infinite;
  border-radius: 6px;
  color: @red;
  margin: 2px 1px;
}
/* Rec-animation */
@keyframes rec-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#custom-power {
  color: @tx-1;
  margin: 2px 5px;
  padding: 0 10px;
}
/* -----------------------------------------------------
 *                      Hover candy
 * ----------------------------------------------------- */
#clock:hover,
#custom-idle:hover,
#custom-power:hover,
#custom-wf-recorder:hover,
#network:hover,
#tray menu menuitem:hover,
#tray:hover,
#wireplumber:hover,
#workspaces button:hover {
  background: @ui-2;
  border-radius: 6px;
  box-shadow: none;
}
