.bar {
  background: $bg-1;
  color: $tx-1;
  padding: 0px 4px;
}

.ws-btn {
  background: transparent;
  border-radius: 6px;
  color: $tx-1;
  margin: 2px 2px;
  min-width: 16px;
  padding: 6px;
}

.ws-btn.active {
  background: $ui-3;
  color: $tx-1;
  font-weight: bold;
}

.window-title {
  all: unset;
}

.clock,
.clock-button {
  border-radius: 6px;
  margin: 2px 0px;
  padding: 0px 6px;
}

.recording-icon {
  animation: blink 1s infinite;
  border-radius: 6px;
  color: $red;
  margin: 2px 0px;
  padding: 0px 6px;
}

.system-indicator-button {
  border-radius: 8px;
  color: $tx-1;
  margin: 2px 0px;
  padding: 0px 6px;
}

.clock-notif-dot {
  font-size: 10px;
  line-height: 1;
  margin-left: -2px;
}

.clock-notif-dot.normal {
  color: $cyan;
}

.clock-notif-dot.critical {
  color: $red;
}

.audio-widget:hover,
.clock-button:hover,
.clock:hover,
.system-indicator-button:hover,
.ws-btn:hover,
.network-box:hover {
  background: $bg-2;
  color: $tx-2;
}
