.bar {
  background: $bg-1;
  color: $tx-1;
  padding: 0px 4px;
}

.ws-btn {
  background: transparent;
  border-radius: 6px;
  color: $tx-1;
  margin: 2px 2px;
  min-width: 16px;
  padding: 6px;
}

.ws-btn.active {
  background: $ui-3;
  color: $tx-1;
  font-weight: bold;
}

.window-title {
  all: unset;
}

.clock,
.clock-button {
  border-radius: 6px;
  font-weight: 600;
  margin: 2px 0px;
  padding: 0px 6px;
}

.recording-icon {
  animation: blink 2s infinite;
  border-radius: 6px;
  color: $warning;
  margin: 2px 0px;
}

.system-indicator-button {
  border-radius: 6px;
  color: $tx-1;
  margin: 2px 0px;
  padding: 0px 6px;
}

.clock-notif-dot {
  font-size: 10px;
  line-height: 1;
  margin-left: -2px;
}

.clock-notif-dot.normal {
  color: $accent;
}

.clock-notif-dot.critical {
  color: $warning;
}

.system-tray {
  border-radius: 6px;
  margin: 2px 0px;
  padding: 0 6px;
}

.tray-toggle-btn {
  border-radius: 6px;
  transition: background 0.15s;
}

.tray-arrow {
  color: $tx-1;
  transition: all 200ms ease;
}

.tray-items {
  transition: opacity 150ms ease;
}

.tray-item {
  border-radius: 6px;
  margin: 0px 6px;
  transition: background 0.15s;
}

.idle-indicator {
  border-radius: 6px;
  color: $tx-1;
  margin: 2px 0px;
  padding: 0px 6px;
}

.idle-icon {
  color: $tx-1;
}

.battery {
  background: transparent;
  border-radius: 6px;
  color: $tx-1;
  margin: 2px 0px;
  padding: 0px 6px;
  transition: background 0.15s;
}

.battery.warning {
  color: $yellow;
}

.battery.critical {
  animation: blink 2s infinite;
  color: $warning;
}

.tray-toggle-btn:hover,
.audio-widget:hover,
.clock-button:hover,
.clock:hover,
.idle-indicator:hover,
.system-indicator-button:hover,
.ws-btn:hover,
.network-box:hover {
  background: $bg-2;
  color: $tx-2;
}
