.bar {
  background: $bg-1;
  color: $tx-1;
  padding: 4px 8px;
}
.ws-btn {
  background: $ui-2;
  font-size: 0;
  min-width: 0.65rem;
  min-height: 0.65rem;
  padding: 0px;
  margin: 8px 4px;
  border-radius: 0.5rem;
  transition:
    min-width 200ms ease,
    background 200ms ease;
  &:hover {
    background: $tx-3;
    min-width: 1.45rem;
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

.ws-btn.active {
  background: $cyan;
  min-width: 1.45rem;
  margin-top: 7px;
  margin-bottom: 7px;
}

.window-title {
  all: unset;
}

.clock,
.clock-button {
  border-radius: 4px;
  font-weight: 600;
  padding: 0px 6px;
}
.clock-dnd-icon {
  color: $red;
  opacity: 0.8;
}

.clock-notif-dot {
  font-size: 0.5em;
}
.clock-notif-dot.normal {
  color: $accent;
}

.clock-notif-dot.critical {
  color: $warning;
  opacity: 0.8;
}

.recording-icon {
  animation: blink 2s infinite;
  border-radius: 4px;
  color: $warning;
  padding: 0px 4px;
}

.system-indicator-button {
  border-radius: 4px;
  color: $tx-1;
  padding: 0px 6px;
}

.idle-indicator {
  border-radius: 4px;
  color: $tx-1;
  margin: 0 0 0 4px;
  padding: 0px 6px;
}

.idle-icon {
  color: $tx-1;
}

.battery {
  background: transparent;
  border-radius: 4px;
  color: $tx-1;
  padding: 0px 6px;
  transition: background 0.15s;
}

.battery.warning {
  color: $yellow;
}

.battery.critical {
  animation: blink 2s infinite;
  color: $warning;
}

.tray-toggle-btn:hover,
.audio-widget:hover,
.clock-button:hover,
.clock:hover,
.idle-indicator:hover,
.system-indicator-button:hover,
.network-box:hover {
  background: $ui-1;
  color: $tx-2;
  transition: background 200ms ease;
}
