// Full reset - use sparingly
.unset {
  all: unset;
}

.expand-btn {
  all: unset;
  color: $accent;

  &:hover {
    color: $tx-1;
  }
}

.close-btn {
  all: unset;
  color: $tx-1;
  border-radius: 50%;
}

.close-btn:hover {
  color: $tx-2;
  background: $ui-3;
}

.expand-arrow {
  color: $tx-1;
  transition: transform 200ms ease;

  &.rotated {
    transform: rotate(180deg);
  }
}

// all tooltips
tooltip,
.tooltip {
  all: unset;
  background: $bg-2;
  border-radius: 8px;
  margin: 4px;
  padding: 15px;
  border: solid 1px $ui-1;
}

tooltip label,
.tooltip label {
  all: unset;
  color: $tx-2;
  font-size: 15px;
  font-weight: 400;
}

// Annouing blinker
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
