/* In scss/notifications.scss */
.notification-window {
  background: unset;
  border: none;
}

.notif-box {
  background: $bg-1;
  border: none;
  border-radius: 6px;
  padding: 15px;
  color: $tx-1;
  box-shadow: $box-shadow;
  min-width: 400px;
  margin: 8px;
}

.notif-low {
  background: $bg-1;
  border-radius: 6px;
  padding: 15px;
  color: $tx-1;
  box-shadow: $box-shadow;
  min-width: 400px;
  margin: 8px;
}

.notif-critical {
  background: $bg-1;
  border: 2px solid $warning;
  border-radius: 6px;
  padding: 15px;
  box-shadow: 0 0 4px 2px rgba(175, 48, 41, 0.5);
  min-width: 400px;
  margin: 8px;
}

.notif-popup-dot {
  font-size: 9.6px;
  line-height: 1;
  padding: 4px;
}

.notif-popup-dot.normal {
  color: $accent;
}

.notif-popup-dot.critical {
  color: $warning;
}

/* Notification title */
.notif-title {
  font-size: 16px;
  font-weight: bold;
  color: $tx-1;
}

.notif-title-critical {
  font-size: 16px;
  font-weight: bold;
  color: $tx-2;
}

.notif-body {
  color: $tx-3;
  margin-top: 4px;
}

.notif-body-critical {
  color: $yellow;
  margin-top: 4px;
}

.notif-action {
  all: unset;
  background: $accent;
  color: $bg-1;
  border-radius: 6px;
  padding: 6px 12px;
  transition: background 0.2s;
}

.notif-action:hover {
  background: $ui-2;
  color: $tx-2;
}

.notif-action:active {
  background: $ui-1;
}
