/* ═══════════════════════════════════════════════════════════════
   MEDIA OSD
   ═══════════════════════════════════════════════════════════════ */

.media-osd-window {
  background: transparent;
  border: none;
}

.media-osd {
  background: $bg-1;
  border: none;
  border-radius: 6px;
  padding: 16px;
  margin: 26px;
  box-shadow: $box-shadow;
  min-width: 280px;
}

.media-osd-header {
  color: $tx-1;
  padding: 0px 6px;
}

.media-osd-app-name {
  font-size: 13px;
  font-weight: 500;
  color: $tx-3;
}

.media-osd-art {
  margin: 8px 0;
}

.media-osd-title {
  font-size: 15px;
  font-weight: 600;
  color: $tx-1;
}

.media-pill-nc-title {
  color: $tx-3;
  font-size: 13px;
  font-weight: 400;
}

.media-osd-artist {
  font-size: 13px;
  color: $tx-3;
}

.media-osd-controls {
  color: $tx-1;
  margin: 6px;
}

.media-osd-control {
  padding: 6px;
  border-radius: 999px;
  background: transparent;

  &:hover {
    background: rgba(255, 255, 255, 0.08);
  }

  &:disabled {
    opacity: 0.4;
  }
}

.media-osd-control.primary {
  background: $accent;
  color: $bg-1;

  &:hover {
    background: lighten($accent, 10%);
  }
}
