/* -----------------------------------------------------
 *                      Config
 * ----------------------------------------------------- */
@define-color bg-1 #100f0f;
@define-color bg-2 #1C1B1A;
@define-color ui-1 #282726;
@define-color ui-2 #343331;
@define-color ui-3 #403E3C;
@define-color tx-1 #CECDC3;
@define-color tx-2 #F2F0E5;
@define-color tx-3 #878580;
@define-color cyan #24837B;
@define-color magenta #A02F6F;
@define-color red #AF3029;

* {
  font-family:
    JetBrains Mono,
    Symbols Nerd Font Mono;
  font-size: 14px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition: none;
}

/* -----------------------------------------------------
 *                      Bar
 * ----------------------------------------------------- */
window#waybar {
  color: @tx-1;
  background-color: @bg-1;
}

/* -----------------------------------------------------
 *                      Tooltip
 * ----------------------------------------------------- */
tooltip {
  background: @bg-1;
  border: solid 1px @ui-1;
  border-radius: 6px;
}

tooltip label {
  color: @tx-1;
}

/* -----------------------------------------------------
 *                  Hyprland workspaces
 * ----------------------------------------------------- */
#workspaces {
  background-color: @bg-1;
  margin: 0 4px;
}
#workspaces button {
  color: @tx-1;
  font-weight: normal;
  padding: 0 5px;
  margin: 3px 0;
}
#workspaces button.active {
  color: @tx-2;
  font-weight: normal;
  background-color: @ui-2;
  border-radius: 6px;
}

#workspaces button.urgent {
  color: @magenta;
}
#mode {
  color: @tx-1;
  padding: 0 10px;
  margin: 3px 2px;
  background-color: @ui-2;
  border-radius: 6px;
}
#window {
  color: @tx-1;
  padding: 0 10px;
}
/* -----------------------------------------------------
 *                      Modules
 * ----------------------------------------------------- */
#clock,
#battery,
#wireplumber,
#custom-mic,
#custom-idle,
#cpu,
#tray,
#memory,
#network {
  color: @tx-1;
  padding: 0 10px;
  margin: 3px 2px;
}
#tray {
  background-color: @ui-1;
  border-radius: 6px;
}
#tray menu {
  background-color: @bg-1;
  border: solid 1px @ui-1;
  border-radius: 6px;
}
#wireplumber.muted {
  color: @tx-1;
  background-color: @ui-2;
  border-radius: 6px;
}

/* -----------------------------------------------------
 *                      Hover candy
 * ----------------------------------------------------- */
#custom-power:hover,
#network:hover,
#tray menu menuitem:hover,
#wireplumber:hover,
#workspaces button:hover {
  background: @ui-1;
  border-radius: 6px;
}
#custom-idle {
  color: @tx-1;
  background-color: @ui-2;
  border-radius: 6px;
}
#custom-sep,
#custom-markl,
#custom-markr {
  color: @tx-3;
  padding: 0 4px;
}
#custom-power {
  color: @tx-1;
  padding: 0 10px;
  margin: 3px 5px;
}
