@import url("../../.cache/wal/colors-waybar.css");

* {
  font-family:
    Adwaita Sans,
    Symbols Nerd Font Mono;
}
window#waybar {
  background: @background;
  /* background: alpha(@background, 0.5); */
}

/* -----------------------------------------------------
 *                  MODULES LEFT
 * ----------------------------------------------------- */
#workspaces {
  margin: 0px 10px;
}

#workspaces button {
  all: unset;
  background: @foreground;
  border-radius: 1rem;
  font-size: 0;
  margin: 12px 4px;
  min-height: 0.5rem;
  min-width: 0.5rem;
  opacity: 0.5;
}

#workspaces button.active {
  all: unset;
  background: @color6;
  border-radius: 1rem;
  font-size: 0;
  margin: 12px 4px;
  min-height: 0.5rem;
  min-width: 1.5rem;
}

#workspaces button.urgent {
  color: @color3;
}

#window {
  color: @foreground;
  padding: 0 10px;
}

window#waybar.empty #window {
  background: transparent;
}

/* -----------------------------------------------------
 *                      MODULES CENTER
 * ----------------------------------------------------- */
#clock,
#privacy,
#custom-mako,
#custom-system,
#custom-weather {
  border-radius: 4px;
  color: @foreground;
  margin: 2px;
  padding: 0 6px;
}

#clock {
  color: @foreground;
  font-weight: 600;
}
#custom-mako.dnd {
  opacity: 0.5;
}

#custom-wf-recorder {
  animation: rec-blink 1s linear infinite;
  border-radius: 4px;
  color: #af3029;
  margin: 2px;
  padding: 0 6px;
}

/* Rec-animation */
@keyframes rec-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* -----------------------------------------------------
 *                      MODULES RIGHT
 * ----------------------------------------------------- */
#battery,
#custom-idle,
#pulseaudio,
#bluetooth,
#network {
  color: @foreground;
  margin: 2px;
  padding: 0 6px;
}

#privacy-item.screenshare {
  color: @color1;
  opacity: 0.8;
}

#privacy-item.location {
  color: @color5;
  opacity: 0.8;
}

#privacy-item.audio-in {
  color: @color6;
  opacity: 0.8;
}

#bluetooth.on {
  color: @foreground;
  opacity: 0.5;
}

#custom-idle.disabled {
  color: @foreground;
}

#tray {
  margin: 2px 10px;
}
#tray menu {
  background: @background;
  border: unset;
}

#custom-sep {
  color: @foreground;
  font-weight: normal;
  margin: 2px 10px;
  opacity: 0.5;
}

/* -----------------------------------------------------
 *                      TOOLTIPS
 * ----------------------------------------------------- */
tooltip {
  all: unset;
  background: @background;
  border-radius: 6px;
  border: solid 1px @color6;
}

tooltip label {
  color: @foreground;
}

/* -----------------------------------------------------
 *                      HOVERS
 * ----------------------------------------------------- */
#bluetooth:hover,
#clock:hover,
#custom-idle:hover,
#custom-mako:hover,
#custom-system:hover,
#custom-weather:hover,
#custom-wf-recorder:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover {
  color: @background;
  background: @color6;
  border-radius: 4px;
}
