// All colors here. DON'T add elsewhere!

layout {
    focus-ring {
        active-color "{color6}"
        inactive-color "transparent"
        urgent-color "#af3029"
    }

    border {
        active-color "{color6}"
        inactive-color "transparent"
        urgent-color "#af3029"
    }
    tab-indicator {
        active-color "{color6}"
        inactive-color "{color6}60"
    }
    insert-hint {
        color "#24837b90"
    }
    shadow {
        color "0007"
    }
}
overview {
    backdrop-color "#1C1B1A"
        workspace-shadow {
        color "0007"
    }
}
