[Unit]
Description=Weekly /etc/ directory backup
# Ensure that the backup directory mount is available before running

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "mkdir -p /mnt/wd1tb/backup/host/etc && rsync -avu --delete --exclude-from=\"/home/bazz/.local/share/rsync-ignore.txt\" /etc/ /mnt/wd1tb/backup/host/etc/ && chown -R bazz:bazz /mnt/wd1tb/backup/host/etc"

[Install]
WantedBy=multi-user.target
