[Unit]
Description=Weekly backup service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backup_host
# Lower CPU and I/O priority
Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100

[Install]
WantedBy=multi-user.target
